.card
  position: absolute
  display: inline-block
  left: unit(-31 / 16, 'rem')
  top: unit(-44 / 16, 'rem')
  width: unit(62 / 16, 'rem')
  height: unit(88 / 16, 'rem')
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 1px 1px rgba(#000, .15)
  cursor: default
  will-change: transform
  border: 1px solid #f1f1f1

  &:before, &:after
    position: absolute
    font-size: .7rem
    text-align: center
    line-height: .7rem
    font-family: 'Ubuntu Condensed', sans-serif
    white-space: pre-line
    width: .55rem
    letter-spacing: -.1rem

  &:before
    top: .15rem
    left: 0

  &:after
    bottom: .1rem
    right: 0
    transform: rotate(180deg)

  .face
    height: 100%
    background-position: 50% 50%
    background-size: 100% 100%
    background-repeat: no-repeat

  .back
    position: absolute
    background-image: url(/faces/back.png)
    background-position: 50% 50%
    background-size: 100% 100%
    background-repeat: no-repeat
    width: 100%
    height: 100%
    top: 0
    left: 0

  &.spades, &.clubs, &.joker
    color: #000000

  &.hearts, &.diamonds, &.joker.rank3
    color: #d40000

  &.joker
    &.rank1, &.rank2, &.rank3
      &:before, &:after
        content: "J\a O\a K\a E\a R"
        letter-spacing: 0
        font-size: .4rem
        line-height: .4rem
        padding: .15rem .05rem
        width: .5rem

  &.spades
    &.rank1
      .face
        background-image: url(/faces/0-1.png)
    &.rank2
      .face
        background-image: url(/faces/0-2.png)
    &.rank3
      .face
        background-image: url(/faces/0-3.png)
    &.rank4
      .face
        background-image: url(/faces/0-4.png)
    &.rank5
      .face
        background-image: url(/faces/0-5.png)
    &.rank6
      .face
        background-image: url(/faces/0-6.png)
    &.rank7
      .face
        background-image: url(/faces/0-7.png)
    &.rank8
      .face
        background-image: url(/faces/0-8.png)
    &.rank9
      .face
        background-image: url(/faces/0-9.png)
    &.rank10
      .face
        background-image: url(/faces/0-10.png)
    &.rank11
      .face
        background-image: url(/faces/0-11.png)
    &.rank12
      .face
        background-image: url(/faces/0-12.png)
    &.rank13
      .face
        background-image: url(/faces/0-13.png)

  &.hearts
    &.rank1
      .face
        background-image: url(/faces/1-1.png)
    &.rank2
      .face
        background-image: url(/faces/1-2.png)
    &.rank3
      .face
        background-image: url(/faces/1-3.png)
    &.rank4
      .face
        background-image: url(/faces/1-4.png)
    &.rank5
      .face
        background-image: url(/faces/1-5.png)
    &.rank6
      .face
        background-image: url(/faces/1-6.png)
    &.rank7
      .face
        background-image: url(/faces/1-7.png)
    &.rank8
      .face
        background-image: url(/faces/1-8.png)
    &.rank9
      .face
        background-image: url(/faces/1-9.png)
    &.rank10
      .face
        background-image: url(/faces/1-10.png)
    &.rank11
      .face
        background-image: url(/faces/1-11.png)
    &.rank12
      .face
        background-image: url(/faces/1-12.png)
    &.rank13
      .face
        background-image: url(/faces/1-13.png)

  &.clubs
    &.rank1
      .face
        background-image: url(/faces/2-1.png)
    &.rank2
      .face
        background-image: url(/faces/2-2.png)
    &.rank3
      .face
        background-image: url(/faces/2-3.png)
    &.rank4
      .face
        background-image: url(/faces/2-4.png)
    &.rank5
      .face
        background-image: url(/faces/2-5.png)
    &.rank6
      .face
        background-image: url(/faces/2-6.png)
    &.rank7
      .face
        background-image: url(/faces/2-7.png)
    &.rank8
      .face
        background-image: url(/faces/2-8.png)
    &.rank9
      .face
        background-image: url(/faces/2-9.png)
    &.rank10
      .face
        background-image: url(/faces/2-10.png)
    &.rank11
      .face
        background-image: url(/faces/2-11.png)
    &.rank12
      .face
        background-image: url(/faces/2-12.png)
    &.rank13
      .face
        background-image: url(/faces/2-13.png)

  &.diamonds
    &.rank1
      .face
        background-image: url(/faces/3-1.png)
    &.rank2
      .face
        background-image: url(/faces/3-2.png)
    &.rank3
      .face
        background-image: url(/faces/3-3.png)
    &.rank4
      .face
        background-image: url(/faces/3-4.png)
    &.rank5
      .face
        background-image: url(/faces/3-5.png)
    &.rank6
      .face
        background-image: url(/faces/3-6.png)
    &.rank7
      .face
        background-image: url(/faces/3-7.png)
    &.rank8
      .face
        background-image: url(/faces/3-8.png)
    &.rank9
      .face
        background-image: url(/faces/3-9.png)
    &.rank10
      .face
        background-image: url(/faces/3-10.png)
    &.rank11
      .face
        background-image: url(/faces/3-11.png)
    &.rank12
      .face
        background-image: url(/faces/3-12.png)
    &.rank13
      .face
        background-image: url(/faces/3-13.png)